<div class='row'>

  <h2>ALL RECIPES</h2>

  <% @recipes.each do |recipe| %>

  <div>
    <%= link_to(recipe) do %>
      <h3><%= recipe.name %></h3>
    <% end %>
    <p><%= recipe.description %></p>
  </div>
  <% end %>

  <h3>
    <%= link_to 'NEW RECIPE', new_recipe_path %>
  </h3>
</div>