<div class='container'>
  <div class='header'>
    <p>home | search | other</p>
  </div>

  <div class='main'>
    <div class='content'>
      <h2>recipe box</h2>
      <button type="button">search a thing</button>
    </div>
  </div>

  <div class='footer'>
    <p>©greulichonline 2020</p>
  </div>
</div>